body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    background: #f1f1f1;
}

html {
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
/* ------------------header-------------- */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
}
.main_head{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: left;
    
    
}
.logo img{
    object-fit: contain;
    width: 100%;
    margin-right: 5px;
    
}
.logo img:last-child{
    width: 250px;
}
.icon{
    display: flex;
    justify-content: space-around;
}
.icon button{
    margin: 0 5px;
    font-size: 15px;
    color: #000;
}
.list_icon{
    display: none;
}
/* 드롭다운 navbar */
.menu {
    overflow: hidden;
    display: flex;
    justify-content: left;
    flex-grow: 4;
    margin-left: 15px;

}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropbtn {
    font-size: 1rem !important;
    padding: 20px 10px;
    border: none;
    outline: none;
    color: #000;
    background-color: inherit;
    font: inherit;
    margin: 0;
    cursor: pointer;
}
.dropbtn.on{
    text-decoration: underline;
    color: #f3a455;
    font-size: 1.1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efddcc;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: 0.2s;
    min-height: 300px;
    padding: 15px;
    box-sizing: border-box;
}
.dropdown-content h1{
    font-size: 20px;
    width: 95%;
    padding: 15px;
    border-bottom: 1px solid #eee;

}
.dropdown-container{
    display: flex;
    justify-content: space-between;
}
.dropdown-left{
    border-right: 1px solid #eee;
    height: 100%;
    width: 40%;
}
.dropdown-left a{
    display: flex;
    margin: 5px;
    flex-direction: column;
    padding: 15px;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
}
.dropdown-left a:hover{
    text-decoration: underline;
}
.dropdown-right{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 15px;
}
.dropdown-picture{
    width: 280px;
    height: 250px;
}
.dropdown-picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50%;
    margin: 5px;
}
/* 드롭다운 */
@media (max-width:1200px){
    .list_icon{
        display: block;
    }
    .menu{
        display: none;
    }
    .main_head{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    .logo{
        display: flex;
        justify-content: left;
        
        
    }
    .logo img{
        object-fit: contain;
        width: 100%;
        margin-right: 5px;
        
    }
}
@media(max-width:720px){
    .logo img:first-child{
        display: none;
    }
    .logo img:last-child{
        width: 160px;
    }
}
/* -------------------main------------------ */
/* 슬라이드1 */
.main_slider{
    width: 100%;
}
.swiper1 {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  .swiper-slide1 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide1 video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-button-next,
.swiper-button-prev{
    color:#f3a455;
}
#slide2{
    background: url(img/slide2.png);
    background-position: 50%;
    background-size: cover;
}
#slide3{
    background: url(img/slide3.png);
    background-position: 50%;
    background-size: cover;
}
#slide4{
    background: url(img/slide4.png);
    background-position: 50%;
    background-size: cover;
}
/* 슬라이드1 */
/* -------------------section1------------------ */
.section1 {
  position: relative;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.section1 h3{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
/* 슬라이드2 */
.swiper2 {
    width: 100%;
    height: 520px;
    padding: 15px;
    box-sizing: border-box;
  }

  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .swiper-slide2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  :root {
    --swiper-theme-color: #f3a455 !important;
}
/* -------------------section2------------------ */
.section2 {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  .section2 h3{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
.helinox{
    width: 100vw;;
    height: 520px;
    background: url(img/project-img1.png)no-repeat;
    background-size: cover;
    position: relative;
    background-position: 50%;
}
.helinox button{
    position: absolute;
    bottom: 15%;
    right: 22%;
    width: 120px;
    font-size: 16px !important;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 10px;
}
/*------------------ footer----------- */
.footer_content {
    
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;


}
.footer1{
    
    padding: 5px;
    border-right: 1px solid rgba(0, 0, 0, .122);
}



.footer_li {
    float: left;
    margin: 20px 30px;
}

.footer_li2 {
    margin-top: 10px;
}

.footer_li2:hover {
    text-decoration: underline;
}


.footer_flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;

}
.sns a{
    font-size: 25px;
    color: #000;
    display: inline-block;
    margin: 15px 15px 15px 0;
}
.sns a:hover{
    color: #f3a455;
}
.footer2{
    padding: 15px;
}
.footer2_left h3{
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;

}
.footer2_left p{
    font-family: "Caveat", cursive;
    font-size: 13px;
    
}
.footer3 {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .122);
    text-align: center;
    padding: 15px;
}
.footer3_txt{
    font-size: 11px;
}
.footer4{
    width: 100%;
    background: #f3a455;
    height: 100px;
    display: flex;
    justify-content: center;
}
.footer4 img{
   object-fit: contain;
   width: 400px;

}

@media (max-width:1200px) {
    .footer_content {
        padding: 0;
    }

    .footer_lists {
        display: inline-block;
        border-top: 1px solid rgba(0, 0, 0, .122);
        width: 100%;
        margin: 0 auto;
    }

    .footer_list {
        display: none;
    }

    .footer_li {
        float: none;
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .122);
    }

    .footer_title::after {
        content: "";
        display: inline-block;
        height: 7px;
        width: 7px;
        margin-right: 0;
        margin-left: 1.5rem;
        vertical-align: middle;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(45deg);
        transition: transform 0.2s ease-out;
    }

    .footer_li.is-active .footer_title::after {
        transform: rotate(-135deg);
    }

    .footer_flex {
        display: block;

        justify-content: center;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .122);
    }

    .footer2_right {
        display: none;
    }

    

    .footer2_left {
        width: 100%;
        text-align: left;

    }

    .footer3 {
        padding: 30px;
        width: 100%;
        margin: 0;
    }
}

@media(max-width:720px) {

    .footer3 {
        padding: 30px 2px;
        width: 100%;
        margin: 0;
    }
   
}
